<div class="language-switcher">
  {% assign lkp_ref = page.ref | default: 'index' %}
  {% assign translations = site.pages | where:"ref", lkp_ref | sort: 'lang' %}
  {% assign default_page = translations | first %}
  {% assign current_lang = page.lang | default: site.default_lang %}
  {% assign locales = site.data.locales %}

  <div class="nav-item dropdown">
    <button class="btn btn-sm nav-link" type="button" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-globe"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="languageDropdown">
      {% for lang in site.languages %}
        {% assign lang_dd = locales[lang].short | default: lang | capitalize %}
        {% if lang == current_lang %}
          <span class="dropdown-item active">{{ lang_dd }}</span>
        {% else %}
          {% assign lang_page = translations | where:"lang", lang %}
          {% assign lang_url = lang_page.url | default: default_page.url %}
          <a class="dropdown-item" href="{{ lang_url | relative_url }}">{{ lang_dd }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>